apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cloud-sentinel-k8s
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: cloud-sentinel-k8s
    namespace: kube-system
---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: cloud-sentinel-k8s
  namespace: kube-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: cloud-sentinel-k8s
  name: cloud-sentinel-k8s
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloud-sentinel-k8s
  strategy: {}
  template:
    metadata:
      labels:
        app: cloud-sentinel-k8s
    spec:
      serviceAccountName: cloud-sentinel-k8s
      containers:
        - image: ghcr.io/pixelvide/cloud-sentinel-k8s:latest
          imagePullPolicy: IfNotPresent
          name: cloud-sentinel-k8s
          resources:
            limits:
              cpu: 1000m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 128Mi
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          ports:
            - containerPort: 8080
              protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: cloud-sentinel-k8s
  name: cloud-sentinel-k8s
  namespace: kube-system
spec:
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: cloud-sentinel-k8s
  type: ClusterIP
